/* transitions.css */
.notification-fade-enter-active,
.notification-fade-leave-active {
    transition: all 0.4s ease;
}

.notification-fade-enter-from {
    opacity: 0;
    transform: translateY(-20px);
}
.notification-fade-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.notification-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.notification-fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}
